# Assignment 1C - Question 1
## Clustering and Recommendations

In [3]:
import pandas
import numpy
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from scipy.spatial import distance
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram
from sklearn.cluster import AgglomerativeClustering
from matplotlib import cm
from datetime import datetime

In [4]:
links = pandas.read_csv('CAB420_Assessment_1C_Data/Data/Q1/links.csv')
movies = pandas.read_csv('CAB420_Assessment_1C_Data/Data/Q1/movies.csv')
ratings = pandas.read_csv('CAB420_Assessment_1C_Data/Data/Q1/ratings.csv')
tags = pandas.read_csv('CAB420_Assessment_1C_Data/Data/Q1/tags.csv')

In [5]:
movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [6]:
print(movies)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

### Filter ratings for 4+

In [7]:
print(ratings)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [8]:
ratings_4 = ratings[ratings['rating'] >= 4.0]

In [9]:
print(ratings_4)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[48580 rows x 4 columns]

In [15]:
user_movies = ratings_4.loc[:, ['userId', 'movieId']]
print(user_movies)

        userId  movieId
0            1        1
1            1        3
2            1        6
3            1       47
4            1       50
...        ...      ...
100830     610   166528
100831     610   166534
100832     610   168248
100833     610   168250
100834     610   168252

[48580 rows x 2 columns]

In [17]:
user_movies = ratings_4.reset_index(drop=True)
user_movies.T

,0,1,2,3,4,5,6,7,8,9,...,48570,48571,48572,48573,48574,48575,48576,48577,48578,48579
userId,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,6.100000e+02,6.100000e+02,6.100000e+02,6.100000e+02,6.100000e+02,6.100000e+02,6.100000e+02,6.100000e+02,6.100000e+02,6.100000e+02
movieId,1.0,3.0,6.0,47.0,50.0,101.0,110.0,151.0,157.0,163.0,...,1.582380e+05,1.605270e+05,1.615820e+05,1.616340e+05,1.641790e+05,1.665280e+05,1.665340e+05,1.682480e+05,1.682500e+05,1.682520e+05
rating,4.0,4.0,4.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,...,5.000000e+00,4.500000e+00,4.000000e+00,4.000000e+00,5.000000e+00,4.000000e+00,4.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00
timestamp,964982703.0,964981247.0,964982224.0,964983815.0,964982931.0,964980868.0,964982176.0,964984041.0,964984100.0,964983650.0,...,1.479545e+09,1.479545e+09,1.493848e+09,1.493848e+09,1.493846e+09,1.493879e+09,1.493848e+09,1.493850e+09,1.494273e+09,1.493846e+09